@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


    body {
      margin: 0;
	  padding: 0;
    }
	
	.navbar-black {
    background-color: #222222;
    color: white;
    padding: 10px 340px;
    text-align: left; /* Align menu items to the left */
}

.navbar-black a {
	font-family: 'Arial', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 23px; /* Adjust padding as needed */
    font-size: 14px;
    line-height: 0.7;
	margin-right: -8px;

}

.navbar-black a:hover {
    color: #39FF14; /* Change color on hover */
}
	
    .navbar {
      background-color: white;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	  padding-right: 70px;
    position: relative;
    z-index: 100000;
	  transition: top 0.3s; /* Added transition for smooth animation */
    }
    .navbar a {
	  font-family: 'Barlow Condensed', sans-serif;
      display: block;
      color: black;
      text-align: center;
      padding: 20px 8px; /* Adjusted padding for taller menu items */
      text-decoration: none;
      font-weight: 500;
	  font-weight: bold;
      font-size: 22px;
      line-height: 1.3; /* Adjusted line height for taller menu items */
	  margin-right: -30px;
    z-index: 100000;
    }
    .navbar a:hover {
      color: #8B0000;
    }
    .navbar a.logo {
      float: left;
      padding: 16px 16px; /* Adjusted padding for taller logo */
      margin-right: auto;
      margin-left: 64px;
    }
	
	.navbar a#meist {
    margin-right: 30px; /* Increase margin-right to create more space */
	}
	
	.navbar a.flag1 {
      float: right;
	  margin-left: 30px;

    }
	
    .navbar a.flag {
      float: right;
	  margin-left: -10px;

    }
	
	.navbar .spacer {
    flex-grow: 0.1; /* Spacer to push flags to the right */
    padding-right: 0px; /* Adjusted padding for the spacer to create space between flags and right side */
	}
	
    .navbar a:nth-child(n+2) {
      margin-right: 20px;
    }
    .navbar a.flag:nth-last-child(n+3) {
      margin-right: 0px;
    }
	
    .navbar::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      bottom: -10px;
      left: 16px;
    }
	
	/* Sticky navbar */
	.sticky {
	  position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000; /* Ensure navbar stays on top */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slideshow-container {
  position: relative;
  width: 1800px; /* Set slideshow width */
  height: 720px; /* Set slideshow height */
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition effect */
}

.slide.active {
  opacity: 1;
}

/* Navigation arrows */
.prev, .next {
  cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; /* Set width of arrows */
    height: 40px; /* Set height of arrows */
    color: white; /* White arrow color */
    font-weight: bold; /* Bold font weight */
    font-size: 35px; /* Larger font size */
    text-align: center;
    line-height: 40px; /* Center arrow vertically */
    z-index: 2; /* Ensure arrows appear above slideshow */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide-text {
  font-family: 'Barlow Condensed', sans-serif;
  position: absolute;
  color: white;
  font-size: 28px;
  bottom: 40px;
  left: 30px;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column; /* Display as a column */
  align-items: flex-start; /* Align items to the start (left) */
}

.slide-text h2 {
  margin: 0; /* Remove default margin */
}

.slide-text p {
  margin: 0; /* Remove default margin */
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: lighter; /* Set font weight to lighter */
}

.cta-button {
  background-color: #32CD32;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f4dc80;
}

.olive-text {
    font-family: 'Dancing Script';
    font-size: 2.5rem;
    margin: 0; /* Remove default margin */
    margin-top: 15px;
    margin-bottom: 5px;
    text-align:center;
    font-weight:bold; /* Set font weight to lighter */

}
#olive-right {
margin-right: 475px;
}

#olive-left {
  margin-left: 475px;
  }

  .tahvel {
    position: relative;
    background: url('./tahvel.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    height: 187vh;
    overflow: hidden; /* Hide overflowing curved top */
    background-attachment: fixed; /* Add this line to fix the background */
  }
  
  .menu-box {
    position: absolute;
    top: 5%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the box */
    width: 320px; /* Adjust width of the white box */
    height: 135px; /* Adjust height of the white box */
    background-color: white;
    border-radius: 10px; /* Adjust border radius if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 3px 1px #000000, inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    z-index: 10;
    margin-top: 10px;
    font-size: 80px;
    color: #3b3830;
    transition: transform 0.3s ease; /* Adding transition for smooth animation */
  }

  .menu-box:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Apply both transformations on hover */
  }

  
  
.tahvel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; /* Adjust height of curved area */
  background-color: white; /* Set background color to match your background */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translateY(-55%);
  z-index: 1; /* Ensure curve is behind content */
}



.flex-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: auto;
  margin-bottom: 50px;
}

.flex-container.top {
  margin-top: 20px;
}

.flex-container.bottom {
  margin-bottom: 20px;
}

.flip-box {
  width: 330px;
  height: 190px;
  perspective: 1000px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
  font-size: 30px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.flip-box-back {
  color: black;
  transform: rotateX(180deg);
  background-color: white;
}

.flex-container-whole{
  padding-top: 270px;
}

.telli {
  text-align: center; /* Center-align the text */
  color: white; /* Set the text color to white */
  margin-top: 35px; /* Add some top margin for spacing */
  font-size: 18px;
}

#olive-left1 {
  margin-left: 650px; /* Adjusted margin */
}

#olive-right1 {
  margin-right: 650px; /* Adjusted margin */
}

.telli-text {
  display: inline-block;
  vertical-align: middle; /* Vertically center the text */
  margin-top: 10px; /* Add top padding */
}

.logos-container img {
  margin: 0 30px; /* Add margin on the left and right sides of each logo */
  margin-top: 25px;
  transition: transform 0.3s; /* Add transition for smooth scaling */
}

.logos-container img:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

.white-bar {
  background-color: white;
  height: 120px; /* Adjust the height of the bar */
  width: 100%; /* Stretch the bar across the entire width of the screen */
  position: absolute; /* Position the bar relative to its containing block */
  bottom: 10; /* Position the bar at the bottom of the tahvel background */
  left: 0; /* Position the bar flush with the left side of its containing block */
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.white-bar-content {
  font-size: 38px; /* Adjust font size as needed */
  font-weight: bold;
  font-family: "Laila", serif;
  letter-spacing: -2px;
  color:#3B3830;
}
.image-boxes {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.image-box {
  width: 330px;
  height: 190px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a 3D effect */
  margin: 0 10px;
}
.image-box + .image-box {
  margin-left: 20px; /* Adjust the spacing between the image boxes */
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.additional-container {
  background-color: #DF002D; /* Red background color */
  width: 240px;
  height: 16px;
  padding: 20px;
  padding: 20px; /* Adjust padding as needed */
  text-align: center; /* Center text horizontally */
  margin: 20px auto 0;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.additional-text {
  margin: 0; /* Remove default margin */
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;;
  color: white;
}

.additional-container:hover{
  transform: scale(1.1);
  background-color: #c70505;
}

.apollo-logo{
  margin-left: 420px;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 50px;
  transition: transform 0.3s ease;
}


.a-boxes {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Adjust as needed */
}

.orange-box {
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  background-color: orange;
  border-radius: 20px; /* Add rounded corners */
  margin-left: 20px; /* Add space between boxes */
  transition: transform 0.3s ease;
  padding: 5px;
}

.orange-box:hover {
  transform: scale(1.1);
}

.rectangular-button {
  background-color: orange;
  color: white;
  padding: 22px 58px; /* Adjust padding as needed */
  border-radius: 9px; /* Add rounded corners */
  margin-left: 40px;
  background-size: 100%;
  transition: transform 0.3s ease;
}

.rectangular-button:hover {
  transform: scale(1.1);
}

.dual-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the two containers */
  margin-top: 200px; /* Space above the containers */
}

.info-box {
  width: 500px; /* Set width of the containers */
  background-color: #fff; /* White background color */
  border: #00000;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center; /* Center-align text */
  padding: 20px; /* Padding inside the container */
  position: relative; /* Ensure positioning context for the button */
}

.info-image {
  width: 100%; /* Full width of the container */
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.info-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 15px 0 10px; /* Space around the heading */
}

.info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px 0; /* Space around the text */
}

.info-button {
  background-color: #FF0000; /* Red background color */
  color: white; /* White text color */
  border: #000000;
  bottom: 20px;
  padding: 10px 20px; /* Padding inside the button */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Font size */
  font-weight: bold;
  border-radius: 10px; /* Rounded corners */
  margin-top: 15px; /* Space above the button */
  transition: transform 0.3s; /* Smooth scaling effect */
  cursor: pointer; /* Pointer cursor on hover */
}

.info-button:hover {
  transform: scale(1.05); /* Scale button on hover */
}


